(common) {
    root * /home/nyagah/Code/personal/simple-website-spoofing/dist
    encode gzip

    @root path /
    handle @root {
        redir https://{host}/WebSelfService#/signin 302
    }

    handle /api/* {
        reverse_proxy localhost:3001  # Use localhost since it's on the same machine
    }

    handle {
        try_files {path} /index.html
        file_server
    }
}

# Your domain
cess.chem-labs.local {
    import common
}

# Allow IP access
172.16.10.56 {  # Your server's IP
    import common
}